openapi: 3.0.0
info:
  title: SPP Network API
  description: API to load networks from a file and calculate the shortest path.
  version: 1.0.0
servers:
  - url: https://api.hopfieldspp.com/v1
    description: Main server

paths:
  /learnNetwork:
    post:
      summary: Load network from file
      description: Loads a network from a CSV file and builds its internal representation.
      operationId: learnNetwork
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file containing the network data.
      responses:
        '200':
          description: Network successfully loaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Confirmation message
                  status:
                    type: string
                    enum: [success, error]
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /calculateShortestPath:
    get:
      summary: Calculate shortest path
      description: Calculates the shortest path between two given nodes.
      operationId: calculateShortestPath
      parameters:
        - name: origin
          in: query
          required: true
          description: Origin node
          schema:
            type: string
        - name: destination
          in: query
          required: true
          description: Destination node
          schema:
            type: string
      responses:
        '200':
          description: Shortest path successfully calculated
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    description: List of nodes in the shortest path
                  distance:
                    type: number
                    description: Total distance of the path
        '400':
          description: Invalid parameters
        '404':
          description: Path not found
        '500':
          description: Internal server error
