openapi: 3.0.0
info:
  title: Network API
  description: API para aprender redes desde un archivo y calcular la ruta más corta.
  version: 1.0.0
servers:
  - url: https://api.network.com/v1
    description: Servidor principal

paths:
  /learnNetwork:
    post:
      summary: Cargar red desde archivo
      description: Carga una red desde un archivo CSV y construye su representación interna.
      operationId: learnNetwork
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo CSV que contiene los datos de la red.
      responses:
        '200':
          description: Red cargada con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensaje de confirmación
                  status:
                    type: string
                    enum: [success, error]
        '400':
          description: Error en la solicitud
        '500':
          description: Error interno del servidor

  /calculateShortestPath:
    get:
      summary: Calcular ruta más corta
      description: Calcula la ruta más corta entre dos nodos dados.
      operationId: calculateShortestPath
      parameters:
        - name: origin
          in: query
          required: true
          description: Nodo de origen
          schema:
            type: string
        - name: destination
          in: query
          required: true
          description: Nodo de destino
          schema:
            type: string
      responses:
        '200':
          description: Ruta calculada con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    description: Lista de nodos en la ruta más corta
                  distance:
                    type: number
                    description: Distancia total de la ruta
        '400':
          description: Parámetros inválidos
        '404':
          description: Ruta no encontrada
        '500':
          description: Error interno del servidor
